# Servidor
PORT=3555
NODE_ENV=production

# Dominio
API_DOMAIN=https://example.com
FRONTEND_DOMAIN=https://example.com

# JWT
JWT_SECRET={Algo largo y random}
JWT_EXPIRES_IN=8h

# Admin
ADMIN_PASSWORD=Contraseña

# Rutas
UPLOADS_PATH=/ruta/a/los/uploads
DB_PATH=/ruta/al/database.sqlite

WM_FIRMA={Firma}
WM_ALGORITMO={Algoritmo}

WM_CONCURRENCY=2

WM_FIRMA_BLANCA=/ruta/a/firma-blanca.png
WM_FIRMA_NEGRA=/ruta/a/firma-negra.png

WM_WORKER_SECRET={Algo largo y random}

CDW=/ruta/al/protecto
ERROR_FILE=/ruta/al/log
OUT_FILE=/ruta/al/log

